@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

html{
    font-family: 'Kanit', sans-serif;
    height: 100%;
    /* animation-duration: 1.5s; */
    /* animation-name: htmlup; */
}
/* @keyframes htmlup{
    from {filter: blur(20px);}
    to {filter: blur(0px);}
} */
body{
    margin: unset;
    height: 100%;
    overflow-x: hidden;
    height: 100%;
}
li{
    color: black;
    transition: .2s;

}
li:hover{
    color: white;
    background-color: grey;
    width: 102%;
    transition: .3s;
    padding-left: 5%;
    border-radius: 12px;
}
.menu{
    background-color: gray;
    height: 120px;
    padding-top : 5px;
    padding-left : 12px;
    padding-right : 12px;
    box-shadow: 0 15px 0px 0 rgba(58, 59, 69, 0.061) !important;
    height:118px;
    transition: .5s;
    color: black;
}
.menu:hover{
    background-color: whitesmoke;
    transition: .5s;
    color: black;
}
.welcome{
    font-size: x-large;
    color: black;
    animation: welcomemove 2s infinite;
}
@keyframes welcomemove {
    from {
        text-shadow: 0px 0px 0 rgba(7, 226, 36, 0);
        transition: 0.1s;
        }
    to {
        text-shadow: 2.15px 0.75px 0 grey;
        transition: 0.1s;
        }
}
.btn-green{
    margin: auto;
    background-color: rgb(3, 255, 37);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.btn-green:hover{
    margin-top: 5px;
    background-color: rgb(5, 211, 32);
    width: 98%;
    cursor: pointer;

}
.message-box{
    animation-name: messagemove;
    animation-duration: 1.5s;
    transition:0.3s linear;
}
@keyframes messagemove {
    from {

            visibility:hidden;
            filter: blur(20px);
            border-color: red;
            /* filter: blur(20px); */

            
        }
        50%{
            visibility:hidden;
            /* filter: blur(0px); */

        }
    
    to {
    filter: blur(0px);
    border-color: rgb(0, 0, 0);
    }
}
/* .pop-up2{
    animation-duration: 1.5s;
    animation-name: pupmove2;
}
@keyframes pupmove2 {
    from {
        height: 0%;
        }
    to {
        height: 80%;
        }
} */
.pop-up{
    animation-duration: 1.5s;
    animation-name: pupmove;

}
@keyframes pupmove {
    from {
        width: 0px;
        }
    to {
        width: 100%;
        }
}
.input100{
    border-radius: 5px;
    width: 50%;
}
.start{
    animation-duration: 1.5s;
    animation-name: startup;
}
@keyframes startup{ 
    from {filter: blur(20px);}
    to {filter: blur(0px);}
}
.message-content{
    margin: auto;
    width: 20%;
    background: whitesmoke;
    border-radius: 12px;
    border-style: dotted;
    cursor: context-menu;
    color: black;
    transition: .3s;
    filter: blur(0px);
}
.message-content:hover{
    background: black;
    color: whitesmoke;
    transition: .3s;
}
.btn-home{
    width: 150px;
    border-style: dashed;
    border-radius: 12px;
    border-width: 2px;
    border-color: #0000002e;
    padding: 5px;
    transition: .3s;
}
.img-profile{
    height:45px;
    width:45px;
    border-radius:50%;
    border-style:solid;
    border-width: 2px;
}
.btn-home:hover{
    width: 150px;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    border-color: #ffffffc9;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 5px;
    transition: .5s;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.name-tag{
    background-color: black;
    border-style: dashed;
    border-width: 1px;
    border-radius: 50px;
    cursor: context-menu;
    color: gold;
    font-size: larger;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 90%;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(125, 126, 125, 0.61); 
    border-radius: 10px;
    transition: .5s;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #949494; 
    transition: .3s;
}
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
    top: 0;
    z-index: 9999 !important;
    width: 17.3%;
    margin-top: 150px;;
}
.affix + .container-fluid {
    padding-top: 70px;
}
/* ============================================ Menu Top */

.navbar-inverse {
    margin-top: 150px;
}
#navbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    display: block;
}
  
/* ============================================ Menu left */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.left-menu{background-color: whitesmoke;border-radius: 12px;}

.navbar-left {
    margin-top: 150px;
}
#navbar-left {
    position: fixed;
    width: 18%;
    display: block;
    padding-left: 18px;
}

/* ============================================ Dropdown */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}